{% extends "auctions/layout.html" %}

{% block body %}

    <div class="container">
        {% if message%}
            {% if update %}
                <div class="alert alert-success" role="alert">
                    {{message}}  
                </div>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>
            {% endif %}
        {% endif %}    
    </div>

{%if not listing.is_active and user == listing.price.user%}
    <div class="alert alert-success" role="alert">
        Congratulations! You won the Auction!
    </div>
{% endif %}

<div class="row mx-1">
    {% if user.is_authenticated and listing.is_active%}
        {% if is_owner %}
            <form action="{% url "closeAuction" id=listing.id %}" method="POST" class="mx-3">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Close Auction</button>
            </form>
        {% endif %}
        {% if is_listing_watchlist%}
            <form action="{% url "remove_watchlist" id=listing.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Remove From Watchlist</button>
                </form>
        {%else%}
            <form action="{% url "add_watchlist" id=listing.id %}" method="POST">                 {% csrf_token %}
                    <button type="submit" class="btn btn-success">Add To Watchlist</button>  
        {%endif%}
    {% endif %}
</div>

    <h2> {{listing.title}}</h2>
    <img src="{{listing.img_url}}" alt="{{listing.title}}" height="350px">
    <p>{{listing.description}}</p>
    <p>Owner: {{listing.owner}}</p>
    <h4>Initial Price: ₹{{listing.price.bid}}</h4>
    {% if user.is_authenticated%}
        <form action="{% url "addBid" id=listing.id %}" method="POST">
            {% csrf_token %}
        <div class="mb-3">
            <label for="price" class="form-label">Add new Bid</label>
            <input type="number" min="0" name="newBid" placeholder="add Bid">
            <button type="submit" class="btn btn-warning">Add</button>
        </div>
            
        </form>
    {%endif%}
  
    <h2>Comments</h2>
    <br/>
    {% if user.is_authenticated%}
    <form action="{% url "comment" id=listing.id %}" method="POST">
        {% csrf_token %}
    <div class="mb-3">
            <label for="price" class="form-label">Add comment</label>
            <input type="text" name="comment" placeholder="add comment">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        
    </form>

    {%endif%}
    <br/>
    <ul class="list-group list-group-flush">
        {% for comment in all_comments%}
            <li class="list-group-item">
                {{comment.message}}
                <br/>
                <p>Posted by: <strong>{{comment.author}}</strong></p>
            </li>
        {% endfor%}
    </ul>

{% endblock %}